@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hero */

body {
  background-color: #fff;
}

.get-main{
  background-image: url('/get.png');
}

@keyframes flashBgOrange {
  0% {
    background-color: black;  /* Start with black */
  }
  50% {
    background-color: orange;  /* Flash to orange */
  }
  100% {
    background-color: black;  /* Return to black */
  }
}

.flashing-orange {
  animation: flashBgOrange 1s ease-in-out infinite; /* Infinite flashing */
}
